<h2>{{title}}</h2>
<table class="table">
    <thead>
      <tr>
        <th>Index</th>
        <!-- <th>Even/Odd</th> -->
        <th>RoomNumber</th>
        <th>RoomType</th>
        <th>Amenities</th>
        <th>Price</th>
        <th>Image</th>
        <th>CheckInTime</th>
        <th>CheckOutTime</th>
        <th>Rating</th>
        <th>Select Room</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of roomsList | slice: 0:20; let e = even; let o = odd; let i = index">
        <td>{{ i }}</td>
        <!-- <td>{{ room.roomNumber % 2 === 0 ? 'even' : 'odd' }}</td> -->
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomType }}</td>
        <td>{{ room.amenities | lowercase }}</td>
        <td>{{ room.price | currency: 'INR' }}</td>
        <td>{{ room.photos }}</td>
        <td>{{ room.checkinTime | date: 'short' }}</td>
        <td>{{ room.checkoutTime }}</td>
        <td>{{ room.rating | number: '1.1-3' : 'en-us' }}</td>
        <td>
          <!-- <button class="btn btn-primary" (click)="selectRoom(room)">Select</button> -->
         <button  class="btn btn-primary" [routerLink]="['/rooms',room.roomNumber]">book</button>
        </td>
      </tr>
    </tbody>
  </table>
